<!DOCTYPE html>
<html>
<head>
  <title>OmniAvatar</title>
  <%= stylesheet_link_tag    "omni_avatar/application", :media => "all" %>
  <%= javascript_include_tag "omni_avatar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
